<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hall of Fame Projections</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='../static/css/zing.css'>
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1>Which crop of players will be next to enter the game's greatest achievement?</h1>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h2>Use the dropdown to select a player from the list:</h2>
          <select id="selDataset" onchange="chooseStock(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Career Stats:</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h4>Will this player reach the Hall of Fame?</h4>
          
        </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/plot.js"></script>
  
</body>

</html>
